* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #efefef;
    height: 100%;
    display: flex;
    flex-direction: column;
}

header {
    width: 100%;
    height: 50px;
    background-color: #293035;
    position: sticky;
    position: -webkit-sticky;
    top: 0px;
    flex: 0 0 auto;
}

.nav {
    width: 1000px;
    height: 100%;
    margin: 0 auto;
}

.nav_left {
    color: #ffffff;
    line-height: 50px;
    float: left;
    font-size: 18px;
}

nav {
    float: right;
}

nav li {
    list-style-type: none;
    float: left;
}

nav li a {
    color: #ffffff;
    text-decoration: none;
    display: block;
    padding: 0 20px 0 20px;
    line-height: 50px;
}

nav li a:hover {
    background-color: #8a8484;
}

section {
    width: 100%;
    overflow: hidden;
    flex: 1 0 auto;
}

.blog {
    width: 1000px;
    margin: 0 auto;
    margin-top: 10px;
}

.blog_felt {
    width: 300px;
    float: left;
}

.col {
    background-color: #fff;
    margin: 10px;
    border-radius: 5px;
}

.col_title {
    line-height: 30px;
    padding-left: 15px;
    font-size: 13px;
    border-bottom: 1px solid #efefef;
}

.col_content {
    padding: 5px 10px 5px 10px;
    height: 160px;
}

img {
    width: 84px;
    height: 80px;
    float: left;
    margin: 1px;
    border-radius: 2px;
}

.col_li li {
    padding: 10px 15px 10px 15px;
    list-style-type: none;
}

.col_li li a {
    color: #000;
    text-decoration: none;
    overflow: hidden;
    -webkit-box-orient: vertical;
    display: -webkit-box;
    -webkit-line-clamp: 1;
}

.col_li li a:hover {
    color: rgb(179, 199, 211);
}

.blog_right {
	height: 20px;
    width: 700px;
    float: right;
    background-color: #fff;
    border-radius: 5px;
    margin-top: 10px;
    padding-top: 15px;
}

.blog_right b,
p {
    margin: 15px;
}

footer {
    width: 100%;
    height: 100px;
    background-color: #293035;
    color: #fff;
    text-align: center;
    line-height: 100px;
	position: fixed;
	bottom: 0;
}
#neirong{
	width: 700px;
	height: 700px;
	float: right;
	/* border: 1px solid red; */
	background-color: #fff;
	border-radius: 5px;
	position: relative;
}